@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    outline: 0;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

:root{
    --main-color: #d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --border: .1rem solid rgba(255, 255, 255, .3);
}


html{
    font-size: 62%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: white;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}

section{
    padding: 2rem 7%;
}

.heading{
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color: var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    cursor: pointer;
}

.btn:hover{
    color: white;
    background: var(--main-color);
}

.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .logo{
    font-size: 4rem;
    font-weight: 600;
    color: white;
    align-items: center;
    display: flex;
}

.header .navbar a{
    margin: 0 1rem;
    font-size: 2rem;
    color: white;
}

.header .navbar a:hover{
    color: var(--main-color);
    border-bottom: .2rem solid var(--main-color);
    padding-bottom: .5rem;
}

.icons div{
    color: white;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color: var(--main-color);
}

.menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top: 115%;
    right: 7%;
    background: white;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}

.header .search-form label:hover{
    color: var(--main-color);
}

.header .cart-items-sec{
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: white;
    padding: 0 1.5rem;
}

.header .cart-items-sec.active{
    right: 0;
    transition: 0.4s ease-in-out;
}

.header .cart-items-sec .cart-items{
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header .cart-items-sec .cart-items span i{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.header .cart-items-sec .cart-items span i:hover{
    color: var(--main-color);
}

.header .cart-items-sec .cart-items img{
    height: 7rem;
}

.header .cart-items-sec .cart-items .content h3{
    font-size: 1.5rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.header .cart-items-sec .cart-items .content .price{
    font-size: 1.5rem;
    color: var(--main-color);
}

.header .cart-items-sec .btn{
    width: 100%;
    text-align: center;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(./images/bg.jpg);
    background-size: cover;
    background-position: center;
}

.home .home-content{
    max-width: 60rem;
}

.home .home-content h3{
    font-size: 7rem;
    text-transform: uppercase;
    color: white;
}

.home .home-content p{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.8;
    padding: 1rem 0;
    color: white;
}

.about .row{
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
}

.about .row .image{
    flex: 1 1 45rem;
}

.about .row .image img{
    flex: 100%;
}

.about .row .about-content{
    flex: 1 1 45rem;
    padding: 2rem;
}

.about .row .about-content h3{
    font-size: 3rem;
    color: white;
}

.about .row .about-content p{
    font-size: 1.6rem;
    color: white;
    padding: 1rem 0;
    line-height: 1.8;
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box{
    padding: 5rem;
    text-align: center;
    border: var(--border);
}

.menu .box-container .box img{
    height: 10rem;
}

.menu .box-container .box h3{
    color: white;
    font-size: 2rem;
    padding: 1rem 0;
}

.menu .box-container .box .price{
    color: white;
    font-size: 2.5rem;
    padding: 5rem 0;
}

.menu .box-container .box .price span {
    font-size: 1.5rem;
    text-decoration: line-through;
}

.menu .box-container .box:hover{
    background: white;
}

.menu .box-container .box:hover > *{
    color: var(--black);
}


.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.review .box-container .box{
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
}

.review .box-container .box img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container .box p {
    font-size: 1.3rem;
    line-height: 1.8;
    color: white;
    padding: 2rem 0;
}

.review .box-container .box i{
    font-size: 1.5rem;
    color: var(--main-color);
}

.review .box-container .box h3{
    padding: 1rem 0;
    font-size: 2rem;
    color: white;
}

.contact .row{
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
}

.contact .row .map{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: white;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--black);
    border: var(--border);
}

.contact .row form .inputBox span{
    color: white;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: white;
    text-transform: none;
    background: none;
}

.footer{
    background: var(--black);
    text-align: center;
}

.footer .share{
    padding: 10px;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    font-size: 3rem;
    color: white;
    margin: 3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    background-color: var(--main-color);
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a{
    padding: .7rem 2rem;
    color: white;
    border: var(--border);
    border-radius: 7px;
    font-size: 2rem;
}

.footer .links a:hover{
    background-color: var(--main-color);
}

.footer .credit{
    font-size: 2rem;
    color: white;
    font-weight: lighter;
    margin: 3%;
}









/*media queries*/
@media (max-width: 991px) {
    html{
        font-size: 55%;
    }

    .header{
        padding: 1.5rem 2rem;
    }

    section{
        padding: 2rem;
    }
}



@media (max-width: 768px) {
    .menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        background: white;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right: 0;
    }

    .header .navbar a{
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
        color: var(--black);
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }
}


@media (max-width: 450px) {
    html{
        font-size: 50%;
    }
}


